.container {
  background: #f4f4f4;
  padding: 20px 10%;
  min-height: 100%;
}

.meetingDetails {
  margin-bottom: 20px;
}

.submitButton {
  margin-top: 10px;
}

.translation {
  margin-bottom: 20px;
}

.component {
  margin: 20px 0;
}
