.commandText {
  -webkit-animation: fade 4s 200ms;
  animation: fade 4s 200ms;
  color: blue;
  margin-left: 20px;
}

@-webkit-keyframes fade {
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}
