.container {
  background: #f4f4f4;
  padding: 20px 1%;
  min-height: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 5%;
  }
}

.submitButton {
  float: right;
}

.transcription {
  margin-bottom: 20px;
}

.transcriptionHeader {
  margin-right: 20px;
}

.voiceCommand {
  padding-top: 20px;
  text-align: right;
}
