.container {
  padding: 20px 10%;
}

.filterRow {
  margin: 15px 0;
}

.resultCount {
  font-size: 1.1em;
  color: black;
}

.filterButton {
  float: right;
}

.active {
  color: #ff8b60;
}

.icon {
  margin-right: 8px;
  font-size: 20px;
}

.iconText {
  font-size: 15px;
}
